<%= render 'partials/hero' %>
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-10">
      <h1>My Lists</h1>
    </div>
    <div class="col-2">
      <a href=" <%= new_list_path %> " class="btn btn-primary">Create a movie list</a>
    </div>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <a class="text-decoration-none" href=" <%= list_url(list) %> ">
      <% if list.photo.attached? %>
        <div class="col-4 mt-3 card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>');">
          <%= list.name %>
        </div>
      <% else %>
        <div class="col-4 mt-3 card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('classic.jpg');">
          <%= list.name %>
        </div>
      <% end %>
      </a>
    <% end %>
  </div>
</div>
