<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Add a new bookmark</h2>
      <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.association :list %>
      <%= f.input :comment, placeholder: 'Say something about this movie!' %>
      <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
